<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex>
  <mat-card-header> 
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
  <div *ngIf="errMess1">
    <h2>Error</h2>
    <h4>{{errMess1}}</h4>
  </div>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL + promotion.image}}" alt={{promotion.name}}>
  <div *ngIf="errMess2">
    <h2>Error</h2>
    <h4>{{errMess2}}</h4>
  </div>
  <mat-card-content>
    <p>{{promotion.description}} 
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="lead" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{lead.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL + lead.image}}" alt={{lead.name}}>
  <div *ngIf="errMess3">
    <h2>Error</h2>
    <h4>{{errMess3}}</h4>
  </div>
  <mat-card-content>
    <p>{{lead.description}}
    </p>
  </mat-card-content>
</mat-card>

</div>
